$dutch-white: rgba(247, 231, 194, 1);
$navy-blue: rgba(3, 10, 110, 1);
$imperial-red: rgba(230, 57, 70, 1);
$celadon-blue: rgba(69, 123, 157, 1);
$golden-brown: rgba(139, 98, 32, 1);

/* Human Color Names */
$c-brand: $celadon-blue;
$c-bg-dark: $navy-blue;
$c-bg-dark2: $golden-brown;
$c-highlight: $imperial-red;
$c-bg-light: $dutch-white;
